@using Resources;
@{
    ViewBag.Title = Resource.Menu_ReportCentre;
    ViewBag.Item = Resource.Menu_MRBDetailsReport;
}

@section style{
    <style>
        .table-condensed > thead > tr > td,
        .table-condensed > tbody > tr > td,
        .table-condensed > tfoot > tr > td {
            padding: 3px;
        }
    </style>
}


<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="card m-b-5">
    <div class="card-body p-b-10">
        <div id="searchFields">
            <div class="row">
                <div class="col-md-2">
                    <label>JobNum</label>
                    <input type="text" class="form-control form-control-sm" id="inputJobNum" />
                </div>
                <div class="col-md-2">
                    <label>PartNum</label>
                    <input type="text" class="form-control form-control-sm" id="inputPartNum" />
                </div>
                <div class="col-md-2">
                    <label>ReasonDesc</label>
                    <input type="text" class="form-control form-control-sm" id="inputReasonDesc" />
                </div>
                <div class="col-md-2">
                    <label>ReportTime</label>
                    <input class="form-control form-control-sm  input-daterange-datepicker" type="text" id="inputReportTime" />
                </div>
                <div class="col-md-2">
                    <label>ProcessTime</label>
                    <input class="form-control form-control-sm  input-daterange-datepicker" type="text" id="inputProcessTime" />
                </div>
                <div class="col-md-2">
                    <label>Status</label>
                    <input type="text" class="form-control form-control-sm" id="inputStatus" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-secondary" type="button" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                <button class="btn btn-info" type="button" id="btnShowAll"><i class="fa fa-list"></i> Show All</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" data-format="Excel" href="javascript:;" id="btnExport">
                        Export Excel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<<div class="card">
    <div class="card-body">
        <table id="myTable" class="bordered" width="100%">
            <thead>
                <tr role="row">
                    <th>MRBID</th>
                    <th>PartNum</th>
                    <th>Epicor Job Num</th>
                    <th>JobNum</th>
                    <th>Heat Code</th>
                    <th>OprSeq</th>
                    <th>OP Description</th>
                    <th>Reason</th>
                    <th>Reject Qty</th>
                    <th>MRB Category Desc</th>
                    <th>Report User</th>
                    <th>Report PDAId</th>
                    <th>Report Time</th>
                    <th>Receipt User</th>
                    <th>Receipt PDAId</th>
                    <th>Receipt Time</th>
                    <th>MH Receipt User</th>
                    <th>MH Receipt PDAId</th>
                    <th>MH Receipt Time</th>
                    <th>Rework Qty</th>
                    <th>Scrap Qty</th>
                    <th>Process User</th>
                    <th>Process Time</th>
                    <th>Rework JobNum</th>
                    <th>Location</th>
                    <th>ResourceId</th>
                    <th>Remark</th>
                    <th>Vendor Remark</th>
                    <th>Category</th>
                    <th>Status1</th>
                    <th>Status</th>
                    <th>Draw</th>
                    <th>MachineId</th>
                    <th>Mfg User</th>
                    <th>Prod Family</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->

@section script {
    <script>
        var CONSTANT = {
        // datatables常量
        DATA_TABLES: {
            DEFAULT_OPTION: { // DataTables初始化选项
                LANGUAGE: {
                        sProcessing: "@Resource.Txt_Processing...",
                        sLengthMenu: "@Resource.Txt_DisplayResults",
                        sZeroRecords: "@Resource.Txt_NoMatchedResults",
                        sInfo: "@Resource.Txt_DisplayAreaResults",
                        sInfoEmpty: "@Resource.Txt_DisplayAreaResults2",
                        sInfoFiltered: "(@Resource.Txt_FilterResults)",
                        sInfoPostFix: "",
                        sSearch: "@Resource.Txt_Search:",
                        searchPlaceholder: "@Resource.Txt_KeywordSearch",
                        sUrl: "",
                        sEmptyTable: "@Resource.Txt_DataEmpty",
                        sLoadingRecords: "@Resource.Txt_Loading...",
                        sInfoThousands: ",",
                        oPaginate: {
                            sFirst: "@Resource.Txt_First",
                            sPrevious: "@Resource.Txt_Previous",
                            sNext: "@Resource.Txt_Next",
                            sLast: "@Resource.Txt_Last"
                        },
                        oAria: {
                            sSortAscending: ": @Resource.Txt_Ascending",
                            sSortDescending: ": @Resource.Txt_Descending"
                        }
                    },
                    // 禁用自动调整列宽
                    autoWidth: false,
                    // 为奇偶行加上样式，兼容不支持CSS伪类的场合
                    stripeClasses: ["odd", "even"],
                    // 取消默认排序查询,否则复选框一列会出现小箭头
                    order: [],
                    // 隐藏加载提示,自行处理
                    processing: false,
                    // 启用服务器端分页
                    serverSide: true,
                    // 禁用原生搜索
                    searching: false
                },
                // 回调
                CALLBACKS: {
                // 表格绘制前的回调函数
                PREDRAWCALLBACK: function (settings) {
                        if (settings.oInit.scrollX == '100%') {
                            // 给表格添加css类，处理scrollX : true出现边框问题
                            $(settings.nTableWrapper).addClass('dataTables_DTS');
                        }
                    },
                    INITCOMPLETE: function (settings, json) {
                        if (settings.oInit.scrollX == '100%' && $(settings.nTable).parent().innerWidth() - $(settings.nTable).outerWidth() > 5) {
                            $(settings.nScrollHead).children().width('100%');
                            $(settings.nTHead).parent().width('100%');
                            $(settings.nTable).width('100%');
                        }
                    },
                    // 表格每次重绘回调函数
                    DRAWCALLBACK: function (settings) {
                        // 高亮显示当前行
                        $(settings.nTable).find("tbody tr").click(function (e) {
                            $(e.target).parents('table').find('tr').removeClass('warning');
                            $(e.target).parents('tr').addClass('warning');
                        });
                    }
                },
                // 常用render可以抽取出来，如日期时间、头像等
                RENDER: {
                ELLIPSIS: function (data, type, row, meta) {
                        data = data || "";
                        return '<span title="' + data + '">' + data + '</span>';
                    }
                }

            }

        };

        var pageTableId = 'MRBReworkTimeReport', table;
        var columnDefs = [
            {
                data: "MRBID",
                "orderable": false,
                "bSortable": false,
                width:60,
                "targets": 0},
            {
                data: "PartNum",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 1},
            {
                data: "EpicorJobNum",
                width: 100,
                "targets": 2},
            {
                data: "JobNum",
                width: 100,
                "targets": 3},
            {
                data: "HeatCode",
                width: 70,
                "targets": 4},
            {
                data: "OprSeq",
                "orderable": false,
                "bSortable": false,
                width: 40,
                "targets": 5},
            {
                data: "OPDescription",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 6},
            {
                data: "Reason",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 7},
            {
                data: "RejQty",
                "orderable": false,
                "bSortable": false,
                width: 30,
                "targets": 8},
            {
                data: "MRBCategoryDesc",
                "orderable": false,
                "bSortable": false,
                width: 110,
                "targets": 9
            },
            {
                data: "ReportId",
                "orderable": false,
                "bSortable": false,
                width: 60,
                "targets": 10
            },
            {
                data: "ReportPDAId",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 11
            },
            {
                data: "ReportTime",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 12
            },
            {
                data: "AcceptName",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 13
            },
            {
                data: "ReceiptPDAId",
                "orderable": false,
                "bSortable": false,
                width: 130,
                "targets": 14
            },
            {
                data: "ReceiptTime",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 15
            },
            {
                data: "MHAcceptName",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 16
            },
            {
                data: "MHReceiptPDAId",
                "orderable": false,
                "bSortable": false,
                width: 130,
                "targets": 17
            },
            {
                data: "MHReceiptTime",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 18
            },
            {
                data: "ReworkQty",
                "orderable": false,
                "bSortable": false,
                width: 40,
                "targets": 19
            },
            {
                data: "ScrapQty",
                "orderable": false,
                "bSortable": false,
                width: 40,
                "targets": 20
            },
            {
                data: "ProcessId",
                "orderable": false,
                "bSortable": false,
                width: 60,
                "targets": 21
            },
            {
                data: "ProcessTime",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 22
            },
            {
                data: "ReJobNum",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 23
            },
            {
                data: "Location",
                "orderable": false,
                "bSortable": false,
                width: 50,
                "targets": 24
            },
            {
                data: "ResourceId",
                "orderable": false,
                "bSortable": false,
                width: 80,
                "targets": 25
            },
            {
                data: "Remark",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 26
            },
            {
                data: "VendorRemark",
                "orderable": false,
                "bSortable": false,
                width: 100,
                "targets": 27
            },
            {
                data: "Category",
                "orderable": false,
                "bSortable": false,
                width: 80,
                "targets": 28
            },
            {
                data: "Status1",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 29
            },
            {
                data: "Status",
                "orderable": false,
                "bSortable": false,
                width: 40,
                "targets": 30
            },
            {
                data: "ShortChar01",
                "orderable": false,
                "bSortable": false,
                width: 40,
                "targets": 31
            },
            {
                data: "MachineId",
                "orderable": false,
                "bSortable": false,
                width: 70,
                "targets": 32
            },
            {
                data: "MfgEmp",
                "orderable": false,
                "bSortable": false,
                width: 120,
                "targets": 33
            },
            {
                data: "ProdFamily",
                "orderable": false,
                "bSortable": false,
                width: 50,
                "targets": 34
            },
        ];

        $(function () {
            var tableOrderBy = "";
            var tableOrderDir = "";

            //绑定回车事件
            $('#inputJobNum,#inputPartNum,#inputReasonDesc,#inputStatus').on("keypress", function () {
                if (event.keyCode == "13") {
                    event.preventDefault();
                    $("#btnSearch").click();
                }
            });

            // Daterange picker
            $('.input-daterange-datepicker').daterangepicker({
                autoUpdateInput: false,
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-info',
                cancelClass: 'btn-inverse'
            });
            $('.input-daterange-datepicker').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('.input-daterange-datepicker').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            //Load the List of the table
            loadDataTable();

            function loadDataTable() {
                setUserColumnsDefWidths(pageTableId, columnDefs);

                table = $("#myTable").DataTable({
                    destroy: true,
                    scrollY: 400,
                    scrollX: true,
                    scrollCollapse: true,
                    scroller: true,
                    initComplete: function (settings) {
                        //Add JQueryUI resizable functionality to each th in the ScrollHead table
                        $('#myTable_wrapper .dataTables_scrollHead thead th').resizable({
                            handles: "e",
                            alsoResize: '#myTable_wrapper .dataTables_scrollHead table', //Not essential but makes the resizing smoother
                            stop: function () {
                                saveColumnSettings(pageTableId, table);
                                loadDataTable();
                            }
                        });
                    },
                    "autoWidth": false,
                    "bAutoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "searching": true,
                    ajax: {
                        type: "post", url: "../Handler/MESData.ashx?CommandType=GetMRBDetail",
                        dataSrc: "data",
                        data: function (d) {
                            var param = {};
                            param.start = d.start;
                            param.length = d.length;
                            param.order = d.order;
                            tableOrderBy = d.columns[d.order[0].column].data; //For exporting
                            tableOrderDir = d.order[0].dir; //For exporting
                            param.columns = d.columns;
                            param.SqlCriteria = getSearchCriteria();
                            var formData = $("#filter_form").serializeArray();
                            formData.forEach(function (e) {
                                param[e.name] = e.value;
                            });
                            return param;
                        },
                    },
                    columns: columnDefs,
                    order: [[7, "desc"]]
                });
            }


            function getSearchCriteria() {
                var returnSQL = "";
                if ($("#inputReportTime").val().trim() != "") {
                    var getVal = $("#inputReportTime").val().trim().split('-');
                    returnSQL += " and ReportTime between '" + getVal[0] + "' and '" + getVal[1] + "'";
                }
                if ($("#inputProcessTime").val().trim() != "") {
                    var getVal = $("#inputProcessTime").val().trim().split('-');
                    returnSQL += " and ProcessTime between '" + getVal[0] + "' and '" + getVal[1] + "'";
                }

                if ($("#inputJobNum").val().trim() != "") {
                    returnSQL += " and JobNum like '%" + $("#inputJobNum").val().trim() + "%'";
                }
                if ($("#inputPartNum").val().trim() != "") {
                    returnSQL += " and PartNum like '%" + $("#inputPartNum").val().trim() + "%'";
                }
                if ($("#inputReasonDesc").val().trim() != "") {
                    returnSQL += " and ReasonDesc like N'%" + $("#inputReasonDesc").val().trim() + "%'";
                }
                if ($("#inputStatus").val().trim() != "") {
                    returnSQL += " and Status = '" + $("#inputStatus").val().trim() + "'";
                }

                return returnSQL;
            }

            //Search
            $("#btnSearch").click(function () {
                dateCompareSQL = "";

                loadDataTable();
            });
            //Show All
            $("#btnShowAll").click(function () {
                ResetForm("searchFields");

                dateCompareSQL = "";

                loadDataTable();
            });

            //Export buttons
            $("#btnExport").click(function () {
                var fileFormat = $(this).attr("data-format");
                var fileExt = "";
                switch (fileFormat) {
                    case ("PDF"):
                        fileExt = "pdf";
                        break;
                    case ("Excel"):
                        fileExt = "xls";
                        break;
                    case ("Word"):
                        fileExt = "doc";
                        break;
                }

                swal({
                    title: "",
                    text: "Are you sure you want to export the report?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#1e88e5",
                    confirmButtonText: "Download"
                }).then(function (isConfirm) {
                    var loadingMsg = "Generating report to download, Please wait...";
                    HoldOnLoading(loadingMsg);

                    var RegN = new RegExp("%", "g");
                    var ReportCriteria = getSearchCriteria().replace(RegN, '%25');

                    var xhr = new XMLHttpRequest();
                    xhr.open('post', '../Reports/ReportForExport.aspx?ReportName=MRBDetailsReport&ReportFormat=' + fileFormat + '&orderBy=' + tableOrderBy + '&dir=' + tableOrderDir + '&ReportCriteria=' + ReportCriteria);
                    xhr.responseType = 'blob';
                    xhr.send();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var blob = this.response;
                            console.log(this);
                            var reader = new FileReader();
                            reader.readAsDataURL(blob);
                            reader.onload = function (e) {
                                var a = document.createElement('a');
                                a.download = 'MRBDetailsReport.' + fileExt;
                                a.href = e.target.result;
                                $("body").append(a);
                                a.click();
                                $(a).remove();
                                //Closing the mask
                                HoldOn.close();
                            }
                        }
                    }

                });
            });
        });
    </script>
}