@using WebAdmin.Models;
@using Resources;
@{
    ViewBag.Title = Resource.Menu_EWIMgmt;
    ViewBag.Item = Resource.Txt_EWIControlDocRevisionRecord;
    string urlPrefix = string.Format("{0}://{1}:{2}/", Request.Url.Scheme, Request.Url.Host, Request.Url.Port);
    string PartNum = Request["PartNum"].ToString();
    SimpleEWIMain EWIMain = (SimpleEWIMain)(ViewBag.EWIMain);
    SimpleEWIECN EWIECN = (SimpleEWIECN)(ViewBag.EWIECN);
    SimpleCurRight CurRight = (SimpleCurRight)(ViewBag.CurRight);
    List<string> AltMethodList = (List<string>)(ViewBag.AltMethodList);
    List<SimpleStatus> StatusList = (List<SimpleStatus>)(ViewBag.StatusList);
    int StatusProcess = (int)(ViewBag.StatusProcess);
    int MaxProcess = (int)(ViewBag.MaxProcess);
    string[] ECNUserList = (string[])(ViewBag.ECNUserList);
    string WIType = "";
    if (Request["WIType"] != null) { WIType = Request["WIType"].ToString(); }
}

@section style{
    <link href="~/Content/Compart/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Compart/assets/plugins/wizard/steps-mod.css" rel="stylesheet" />
    <link href="~/Content/Compart/assets/plugins/icheck/skins/all.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="row">
                    <div class="card-body wizard-content">
                        <form action="#" class="tab-wizard wizard-circle">
                            @foreach (SimpleStatus tmpStaus in StatusList)
                            {
                                if (tmpStaus.StatusLog == "")
                                {
                                    if (tmpStaus.StatusDesc == Resource.Txt_EngineerProcessing || tmpStaus.StatusDesc == Resource.Txt_QMToBeSubmitted)
                                    {
                                        <h6> <span class="tooltip-item2">@tmpStaus.StatusDesc</span> </h6><section></section>
                                    }
                                    else
                                    {
                                        <h6> @tmpStaus.StatusDesc </h6><section></section>
                                    }
                                }
                                else
                                {
                                    <h6>
                                        <span class="mytooltip tooltip-effect-1">
                                            <span class="tooltip-item2">@tmpStaus.StatusDesc</span>
                                            <span class="tooltip-content4 clearfix">
                                                <span class="tooltip-text2">@Html.Raw(HttpUtility.HtmlDecode(tmpStaus.StatusLog))</span>
                                            </span>
                                        </span>
                                    </h6><section></section>
                                }
                            }
                        </form>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-3">
                        <button id="btnAdd" type="button" class="btn btn-info"><i class="fa fa-plus"></i> @Resource.Txt_Add</button>
                        <button id="btnEdit" type="button" class="btn btn-info"><i class="fa fa-edit"></i> @Resource.Txt_Edit</button>
                        <button id="btnInActive" type="button" class="btn btn-info" style="display:none"><i class="mdi mdi-do-not-disturb"></i> @Resource.Txt_Invalid</button>
                        <button id="btnExport" type="button" class="btn btn-info" style="display:none"><i class="mdi mdi-download"></i> @Resource.Txt_Export</button>
                        <button id="btnView" type="button" class="btn btn-info" style="display:none"><i class="fa fa-search-plus waves-effect"></i> @Resource.Txt_Detail</button>
                    </div>
                    <div class="col-6 text-center">
                        <h3 class="card-title">@Resource.Txt_ControlFileRevisionRecordCurRev @EWIMain.CurrentRev</h3>
                    </div>
                    <div class="col-3 text-right">
                        <button id="btnCopy" type="button" class="btn btn-info"><i class="fa fa-copy"></i> @Resource.Txt_CopyRevision</button>
                    </div>
                </div>
                <hr />
                <div class="row form-group NonStdShow" style="display:none;">
                    <div class="col-5">
                        <div class="radio-list" style="pointer-events:none;">
                            <label class="custom-control custom-radio">
                                <input id="radioEngTest" name="radio2" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_EngineeringTest</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioTempDoc" name="radio2" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_TempFile</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioNPI" name="radio2" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_NPI</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1">
                        <label>@Resource.Txt_JobNum</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" readonly id="txtJobNum" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-5">
                        <div class="radio-list" style="pointer-events:none;">
                            <label class="custom-control custom-radio">
                                <input id="radioPrototype" name="radio" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Prototype&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioPrelaunch" name="radio" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Prelaunch&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioProduction" name="radio" type="radio" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Production</span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="col-5">@Resource.Txt_ControlPlanNo: </label>
                            <input class="form-control col-7" readonly type="text" id="txtControlPlanNum" />
                        </div>
                    </div>
                    <div class="col-3">
                        <label>@Resource.Txt_KeyContactPhone:</label>
                        <input class="form-control" readonly type="text" id="txtKeyContact" />
                    </div>
                    <div class="col-2">
                        <label>@Resource.Txt_OrigDate</label>
                        <input class="form-control" readonly type="text" id="txtOriginDate" />
                    </div>
                    <div class="col-2">
                        <label>@Resource.Txt_LatestDateRev</label>
                        <input class="form-control" readonly type="text" id="txtLatestDateRev" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-5">
                        <label>@Resource.Txt_PartNumLatestChange</label>
                        <textarea class="form-control" readonly type="text" id="txtCustomerPartNum"></textarea>
                    </div>
                    <div class="col-3">
                        <label>@Resource.Txt_CoreTeam</label>
                        <textarea class="form-control" readonly type="text" id="txtCoreTeam"></textarea>
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_CustomerEngineerApproval</label>
                        <textarea class="form-control" readonly type="text" id="txtCustomerEngApprovalDate"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-5">
                        <label>@Resource.Txt_PartDescription</label>
                        <input class="form-control" readonly type="text" id="txtPartDesc" />
                    </div>
                    <div class="col-3">
                        <label>@Resource.Txt_SupplierApproval </label>
                        <input class="form-control" readonly type="text" id="txtSupplierApprovalDate" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_CustomerQMApproval</label>
                        <input class="form-control" readonly type="text" id="txtCustomerQualityApprovalDate" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                        <label>@Resource.Txt_Supplier</label>
                        <input class="form-control" readonly type="text" id="txtSupplier" />
                    </div>
                    <div class="col-2">
                        <label>@Resource.Txt_SupplierCode</label>
                        <input class="form-control" readonly type="text" id="txtSupplierCode" />
                    </div>
                    <div class="col-3">
                        <label>@Resource.Txt_OtherApproval</label>
                        <input class="form-control" readonly type="text" id="txtOtherApprovalDate" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_OtherApproval</label>
                        <input class="form-control" readonly type="text" id="txtOtherApprovalDate2" />
                    </div>
                </div>
                <div class="row form-group" style="display:none">
                    <label class="col-1">@Resource.Txt_CADFile</label>
                    <input class="form-control col-10" readonly type="text" id="txtAutoCADFilePath" />
                    <button id="btnViewCAD" type="button" class="btn waves-effect waves-light btn-secondary col-1"><i class="fa fa-search-plus waves-effect"></i> @Resource.Txt_View</button>
                </div>
                <br class="ECNGroup" />
                <div class="row form-group ECNGroup">
                    <div class="col-5">
                        <button id="btnEditECN" type="button" class="btn btn-info"><i class="fa fa-edit"></i> @Resource.Txt_Edit</button>
                    </div>
                    <div class="col-4">
                        <h3 class="card-title">@Resource.Txt_EngineerChangeNotification</h3>
                    </div>
                    <div class="col-3 text-right"></div>
                </div>
                <hr />
                <div class="row form-group ECNGroup">
                    <div class="col-4">
                        <label>@Resource.Txt_ECNNo</label>
                        <input class="form-control" readonly type="text" id="txtECNNo" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_ECRNo</label>
                        <input class="form-control" readonly type="text" id="txtECRNo" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_Title</label>
                        <input class="form-control" readonly type="text" id="txtTitle" />
                    </div>
                </div>
                <div class="row form-group ECNGroup">
                    <div class="col-4">
                        <label>@Resource.Txt_Reasons</label>
                        <input class="form-control" readonly type="text" id="txtChangeReason" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_ChangeFrom</label>
                        <input class="form-control" readonly type="text" id="txtChangeFrom" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_ChangeTo</label>
                        <input class="form-control" readonly type="text" id="txtChangeTo" />
                    </div>
                </div>
                <div class="row form-group ECNGroup">
                    <div class="col-4">
                        <label>@Resource.Txt_RelatedDeptApprover</label>
                        <textarea class="form-control" readonly type="text" id="txtRelateDept"></textarea>
                    </div>
                    <div class="col-8">
                        <label>@Resource.Txt_Remarks</label>
                        <textarea class="form-control" readonly type="text" id="txtRemark"></textarea>
                    </div>
                </div>
                <br />
                <div class="row form-group text-center">
                    <div class="col-12">
                        <h4 class="text-center">@Resource.Txt_RevisionList</h4>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <table id="myTable" class="bordered" width="100%">
                            <thead>
                                <tr role="row">
                                    <th>@Resource.Txt_Revision</th>
                                    <th>@Resource.Txt_EffectiveDate</th>
                                    <th>@Resource.Txt_PCNECNNo</th>
                                    <th>@Resource.Txt_Initiator2</th>
                                    <th>@Resource.Txt_Status</th>
                                    <th>@Resource.Txt_ChangeDescription</th>
                                    <th>@Resource.Txt_Operation</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalEWIView" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:900px; max-width:900px">
        <div class="modal-content">
            <div class="modal-header Bottom10">
                <h4 class="modal-title" id="myModalLabel">@Resource.Txt_RevisionDetails</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input type="hidden" id="txtModalId" />
                <input type="hidden" id="txtModalMainId" />
            </div>
            <div class="modal-body Bottom10" id="frmEWIMain">
                <div class="row Bottom10 NonStdShow" style="display:none;">
                    <div class="col-5">
                        <div class="radio-list">
                            <label class="custom-control custom-radio">
                                <input id="radioEngTestModal" name="radio2Modal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.NSType == "EngTest" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_EngineeringTest</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioTempDocModal" name="radio2Modal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.NSType == "TempDoc" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_TempFile</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioNPIModal" name="radio2Modal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.NSType == "NPI" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_NPI</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1">
                        <label>@Resource.Txt_JobNum</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" id="txtJobNumModal" autocomplete="off" />
                    </div>
                </div>
                <div class="row Bottom10">
                    <div class="col-5">
                        <div class="radio-list">
                            <label class="custom-control custom-radio">
                                <input id="radioPrototypeModal" name="radioModal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.ProductStage == "Prototype" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Prototype&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioPrelaunchModal" name="radioModal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.ProductStage == "Pre-launch" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Prelaunch&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioProductionModal" name="radioModal" type="radio" class="custom-control-input radioModal" checked="@(EWIMain.ProductStage == "Production" ? "checked" : "unchecked" )" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Resource.Txt_Production</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1">
                        <label>@Resource.Txt_Revision</label>
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="text" id="txtLatestRevModal" readonly />
                    </div>
                    <div class="col-2">
                        <label>@Resource.Txt_LatestChange</label>
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="text" readonly id="txtCustomerRevModal" />
                    </div>
                </div>
                <div class="row Bottom10">
                    <div class="col-4">
                        <label>@Resource.Txt_CustomerEngineerApproval</label>
                        <input class="form-control" type="text" id="txtCustomerEngApprovalDateModal">
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_SupplierApproval</label>
                        <input class="form-control" type="text" id="txtSupplierApprovalDateModal">
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_CustomerQMApproval</label>
                        <input class="form-control" type="text" id="txtCustomerQualityApprovalDateModal">
                    </div>
                </div>
                <div class="row Bottom10">
                    <div class="col-4">
                        <label>@Resource.Txt_OtherApproval</label>
                        <input class="form-control" type="text" id="txtOtherApprovalDateModal">
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_OtherApproval</label>
                        <input class="form-control" type="text" id="txtOtherApprovalDate2Modal">
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_PCNECNNo</label>
                        <input class="form-control" type="text" id="txtPCN_ECN_NOModal">
                    </div>
                </div>
                <div class="row Bottom10">
                    <div class="col-4">
                        <label>@Resource.Txt_Supplier</label>
                        <input class="form-control" type="text" id="txtSupplierModal" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_SupplierCode</label>
                        <input class="form-control" type="text" id="txtSupplierCodeModal" />
                    </div>
                    <div class="col-4">
                        <label>@Resource.Txt_DefaultOPRevision</label>
                        <input class="form-control" type="text" id="txtAltMethodModal" list="AltMethodList" autocomplete="off" />
                        <datalist id="AltMethodList">
                            @foreach (string AltMethod in AltMethodList)
                            {
                                <option value="@AltMethod"></option>
                            }
                        </datalist>
                    </div>
                </div>
                <div class="row Bottom10">
                    <div class="col-12">
                        <label>@Resource.Txt_ChangeDescription</label>
                        <textarea class="form-control" id="txtDescriptionModal"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnModalClose" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> @Resource.Txt_Close</button>
                <button id="btnModalSave" type="button" class="btn btn-default"><i class="fa fa-save"></i> @Resource.Txt_Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCopyView" role="dialog" aria-labelledby="myModalCopyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalCopyLabel">@Resource.Txt_CopyRevision</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form id="frmEWI" role="form">
                    <div class="card-body">
                        <div class="row col-12 form-group">
                            <label class="col-sm-3">@(Resource.Txt_PartNumber)|@Resource.Txt_Revision</label>
                            <select class="select2 form-control col-sm-9" style="width: 75%"></select>
                            <input type="hidden" id="txtModalId" />
                        </div>
                        <div class="row col-12 form-group">
                            <label class="col-sm-3">@Resource.Txt_Description</label>
                            <input type="text" class="form-control col-sm-9" readonly id="txtCopyPartDesc" />
                        </div>
                        <div class="row col-12 form-group">
                            <label class="col-sm-3">@Resource.Txt_CustomerPartNum</label>
                            <input type="text" class="form-control col-sm-9" readonly id="txtCopyCustomerPartNum" />
                        </div>
                        <div class="row col-12 form-group">
                            <label class="col-sm-3">@Resource.Txt_ChangeDescription</label>
                            <textarea type="text" class="form-control col-sm-9" readonly id="txtCopyDescription"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnModalClose" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> @Resource.Txt_Close</button>
                <button id="btnModalCopy" type="button" class="btn btn-default"><i class="fa fa-copy"></i> @Resource.Txt_Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalECNView" role="dialog" aria-labelledby="myModalECNLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalECNLabel">@Resource.Txt_EngineerChangeNotification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input type="hidden" id="txtModalECNId" />
            </div>
            <div class="modal-body" id="frmEWIECN">
                <div class="card-body">
                    <div class="row Bottom10">
                        <div class="col-4">
                            <label>@Resource.Txt_ECNNo</label>
                            <input class="form-control" autocomplete="off" type="text" id="txtModalECNNo" />
                        </div>
                        <div class="col-4">
                            <label>@Resource.Txt_ECRNo</label>
                            <input class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalECRNo" />
                        </div>
                        <div class="col-4">
                            <label>@Resource.Txt_Title</label>
                            <input class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalTitle" />
                        </div>
                    </div>
                    <div class="row Bottom10">
                        <div class="col-4">
                            <label>@Resource.Txt_Reasons</label>
                            <input class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalChangeReason" />
                        </div>
                        <div class="col-4">
                            <label>@Resource.Txt_ChangeFrom</label>
                            <input class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalChangeFrom" />
                        </div>
                        <div class="col-4">
                            <label>@Resource.Txt_ChangeTo</label>
                            <input class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalChangeTo" />
                        </div>
                    </div>
                    <div class="row Bottom10">
                        <div class="col-12">
                            <label>@Resource.Txt_Remarks</label>
                            <textarea class="form-control ApproveUser" autocomplete="off" type="text" id="txtModalRemark"></textarea>
                        </div>
                    </div>
                    <div class="row Bottom10">
                        <div class="col-12">
                            <label>@Resource.Txt_RelatedDeptApprover</label>
                            <ul class="icheck-list alignUL form-control txtModalRelateDept ApproveUser">
                                @for (int i = 0; i < ECNUserList.Length; i++)
                                {
                                    <li data-val="@ECNUserList[i]">
                                        <input type="checkbox" class="check" data-checkbox="icheckbox_line-blue" data-label="@ECNUserList[i]">
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnModalClose" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> @Resource.Txt_Close</button>
                <button id="btnModalECN" type="button" class="btn btn-default"><i class="fa fa-save"></i> @Resource.Txt_Save</button>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/Content/Compart/assets/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/Content/Compart/assets/plugins/wizard/steps-mod.js"></script>
    <script src="~/Content/Compart/assets/plugins/icheck/icheck-mod.js"></script>
    <script src="~/Content/Compart/assets/plugins/icheck/icheck.init.js"></script>
    <script>
        var CONSTANT = {
            // datatables常量
            DATA_TABLES: {
                DEFAULT_OPTION: { // DataTables初始化选项
                    LANGUAGE: {
                        sProcessing: "@Resource.Txt_Processing...",
                        sLengthMenu: "@Resource.Txt_DisplayResults",
                        sZeroRecords: "@Resource.Txt_NoMatchedResults",
                        sInfo: "@Resource.Txt_DisplayAreaResults",
                        sInfoEmpty: "@Resource.Txt_DisplayAreaResults2",
                        sInfoFiltered: "(@Resource.Txt_FilterResults)",
                        sInfoPostFix: "",
                        sSearch: "@Resource.Txt_Search:",
                        searchPlaceholder: "@Resource.Txt_KeywordSearch",
                        sUrl: "",
                        sEmptyTable: "@Resource.Txt_DataEmpty",
                        sLoadingRecords: "@Resource.Txt_Loading...",
                        sInfoThousands: ",",
                        oPaginate: {
                            sFirst: "@Resource.Txt_First",
                            sPrevious: "@Resource.Txt_Previous",
                            sNext: "@Resource.Txt_Next",
                            sLast: "@Resource.Txt_Last"
                        },
                        oAria: {
                            sSortAscending: ": @Resource.Txt_Ascending",
                            sSortDescending: ": @Resource.Txt_Descending"
                        }
                    },
                    // 禁用自动调整列宽
                    autoWidth: false,
                    // 为奇偶行加上样式，兼容不支持CSS伪类的场合
                    stripeClasses: ["odd", "even"],
                    // 取消默认排序查询,否则复选框一列会出现小箭头
                    order: [],
                    // 隐藏加载提示,自行处理
                    processing: false,
                    // 启用服务器端分页
                    serverSide: true,
                    // 禁用原生搜索
                    searching: false
                },
                // 回调
                CALLBACKS: {
                    // 表格绘制前的回调函数
                    PREDRAWCALLBACK: function (settings) {
                        if (settings.oInit.scrollX == '100%') {
                            // 给表格添加css类，处理scrollX : true出现边框问题
                            $(settings.nTableWrapper).addClass('dataTables_DTS');
                        }
                    },
                    INITCOMPLETE: function (settings, json) {
                        if (settings.oInit.scrollX == '100%' && $(settings.nTable).parent().innerWidth() - $(settings.nTable).outerWidth() > 5) {
                            $(settings.nScrollHead).children().width('100%');
                            $(settings.nTHead).parent().width('100%');
                            $(settings.nTable).width('100%');
                        }
                    },
                    // 表格每次重绘回调函数
                    DRAWCALLBACK: function (settings) {
                        // 高亮显示当前行
                        $(settings.nTable).find("tbody tr").click(function (e) {
                            $(e.target).parents('table').find('tr').removeClass('warning');
                            $(e.target).parents('tr').addClass('warning');
                        });
                    }
                },
                // 常用render可以抽取出来，如日期时间、头像等
                RENDER: {
                    ELLIPSIS: function (data, type, row, meta) {
                        data = data || "";
                        return '<span title="' + data + '">' + data + '</span>';
                    }
                }
            }
        };
        var StatusProcess = @StatusProcess, MaxProcess = @MaxProcess;
        var arrEWI = ['EWI', 'EWI_QM', 'EWI_Check'];
        var arrQM = ['EWI_QM', 'EWI_QM_FA', 'EWI_QM_NPI'];
        var tmpRelateDept = '';
        var tmpRight = [], tmpRejRight = [];

        var pageTableId = 'EWIMain', table;
        var columnDefs = [
            {
                "data": "Revision",
                "orderable": false,
                "bSortable": false,
                "width": '8%',
                "targets": 0,
                "render": function (data, type, row, meta) {
                    var content = '<a href="javascript:void(0);" onclick="ToogleRev(' + row["ID"] + ')"> ' + data + '</a>';
                    return content;
                }
            },
            {
                "data": "EffectiveDate",
                "orderable": false,
                "bSortable": false,
                "width": '11%',
                "targets": 1
            },
            {
                "data": "PCN_ECN_NO",
                "orderable": false,
                "bSortable": false,
                "width": '16%',
                "targets": 2
            },
            {
                "data": "Iniatior",
                "orderable": false,
                "bSortable": false,
                "width": '12%',
                "targets": 3
            },
            {
                "data": "StatusDesc",
                "width": '12%',
                "orderable": false,
                "bSortable": false,
                "targets": 4,
                "render": function (data, type, row, meta) {
                    var content = '<a href="javascript:void(0);" onclick="LoadMsg(\'' + row["Revision"] + ' : ' + data + '\', \'' + row["StatusLog"] + '\')">' + data + '</a>';

                    //var content = '<span class="mytooltip tooltip-effect-1"><span class="tooltip-item2">' + data + '</span>'
                    //content += '<span class="tooltip-content4 clearfix"><span class="tooltip-text2">' + row["StatusLog"] + '</span></span></span >';
                    return content;
                }
            },
            {
                "data": "Description",
                "orderable": false,
                "bSortable": false,
                "width": '25%',
                "targets": 5
            },
            {
                "data": "ID",
                "orderable": false,
                "bSortable": false,
                "width": '16%',
                "targets": 6,
                "render": function (data, type, row, meta) {
                    var content = '<div class="btn-group">'
                        + '<button type="button" class="btn waves-effect waves-light btn-outline-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-download"></i> @Resource.Txt_Export</button>'
                        + '<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">'
                        + '<a class="dropdown-item fa fa-file-pdf-o" href="javascript:void(0);" onclick="ExportReport(\'ExportReport\', \'@PartNum\', ' + data + ', \'1\')"> PDF</a>'
                        + '<a class="dropdown-item fa fa-file-excel-o" href="javascript:void(0);" onclick="ExportReport(\'ExportReport\', \'@PartNum\', ' + data + ', \'2\')"> EXCEL</a>'
                        + '</div></div>';

                    if ('@CurRight.CheckRight' != '0') {
                        if (row["ApprovalStatus"] != @CurRight.CheckRight
                                        && row["ApprovalStatus"] != @CurRight.CheckRight + 10
                            && tmpRight.indexOf(row["ApprovalStatus"]) < 0
                            && tmpRejRight.indexOf(row["ApprovalStatus"]) < 0)
                            content += '&nbsp;<button type="button" class="btn waves-effect waves-light btn-secondary" onclick="ViewDetail(' + data + ')"><i class="fa fa-search-plus waves-effect"></i> @Resource.Txt_View</button>';
                        else
                            content += '&nbsp;<button type="button" class="btn btn-info" onclick="ViewDetail(' + data + ')"><i class="fa fa-edit"></i> @Resource.Txt_Detail</button>';
                    }
                    else {
                        if (row["StatusDesc"].indexOf("@Resource.Txt_Approval2") >= 0 || row["StatusDesc"].indexOf("@Resource.Txt_Completed") >= 0)
                            content += '&nbsp;<button type="button" class="btn waves-effect waves-light btn-secondary" onclick="ViewDetail(' + data + ')"><i class="fa fa-search-plus waves-effect"></i> @Resource.Txt_View</button>';
                        else
                            content += '&nbsp;<button type="button" class="btn btn-info" onclick="ViewDetail(' + data + ')"><i class="fa fa-edit"></i> @Resource.Txt_Edit</button>';
                    }
                    return content;
                }
            }
        ];

        $(document).ready(function () {
            //显示状态
            for (var i = 1; i < StatusProcess; i++) {
                $('a:contains("Next")').click();
            }
            if (StatusProcess == MaxProcess) {
                $('a:contains("Submit")').each(function () {
                    if ($(this).text() == "Submit") {
                        $(this).click();
                    }
                });
            }
            //隐藏下一步的区域
            $('.content.clearfix').attr('style', 'display:none;');
            $('.actions.clearfix').attr('style', 'display:none;');
            //只读
            $('.first,.current,.done').find('a').each(function () {
                $(this).removeAttr("href");
            });

            if ('@CurRight.CheckRight' != '0') {
                $('#btnAdd').attr('style', 'display:none;');
                $('#btnEdit').attr('style', 'display:none;');
                //$('#btnEditECN').attr('style', 'display:none;');
                $('#btnExport').attr('style', 'display:none;');
                $('#btnCopy').attr('style', 'display:none;');

                //审批人员可修改ECN编号
                $('.ApproveUser').attr("readonly", "readonly");

                //重写权限数组
                if ('@CurRight.CheckRight' == '31') {
                    tmpRight = ['1', '3'];
                    tmpRejRight = ['11', '13'];
                }
                else if ('@CurRight.CheckRight' == '32') {
                    tmpRight = ['2', '3'];
                    tmpRejRight = ['12', '13'];
                }
            }
            //QM可发起
            else {
                if (arrQM.indexOf('@CurRight.Menu') >= 0) {
                    //$('#btnAdd').attr('style', 'display:none;');
                    $('#btnEdit').attr('style', 'display:none;');
                    //$('#btnEditECN').attr('style', 'display:none;');
                    //$('#btnCopy').attr('style', 'display:none;');
                }
            }
            //Non-Std显示NS类型及工单号
            if ('@EWIMain.WIType' == 'Temp') {
                $('.NonStdShow').removeAttr('style');
            }

            loadDataTable();

            //select2控件
            var revArray = [];
            $('.select2').select2({
                closeOnSelect: true,
                ajax: {
                    url: '/EWI/GetAllRevisionList',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            part: params.term,
                            page: params.page || 1
                        };
                    },
                    delay: 500,
                    type: 'get',
                    processResults: function (data, params) {
                        page = params.page || 1;
                        revArray = [];
                        if (data instanceof Array) {
                            for (var i = 0; i < data.length; i++) {
                                revArray.push({
                                    id: data[i]['ID'],
                                    rev: data[i],
                                    text: data[i]['PartNum'] + ' | Rev.' + data[i]['Revision']
                                });
                            }
                        } else {
                            revArray.push({
                                id: data['ID'],
                                rev: data[i],
                                text: data['PartNum'] + ' | Rev.' + data[i]['Revision']
                            })
                        }
                        return {
                            results: revArray,
                            pagination: {
                                more: true
                            }
                        };
                    },
                    cache: true
                },
                placeholder: 'Search for Product',
                minimumInputLength: 2,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });

            $('.select2').change(function () {
                for (var i = 0; i < revArray.length; i++) {
                    tmpRev = revArray[i];
                    if ($(this).val() == tmpRev.id) {
                        $('#txtCopyPartDesc').val(tmpRev.rev.PartDesc);
                        $('#txtCopyCustomerPartNum').val(tmpRev.rev.CustomerPartNum);
                        $('#txtCopyDescription').val(tmpRev.rev.Description);
                    }
                }
            })

            $("#btnCopy").click(function () {
                $('.select2').find('option').remove();
                $('#txtCopyPartDesc').val('');
                $('#txtCopyCustomerPartNum').val('');
                $('#txtCopyDescription').val('');
                $("#ModalCopyView").modal();
            });

            $("#btnModalCopy").click(function () {
                CopyRev('@EWIMain.ID', $('.select2').val());
            });
            //新增
            $("#btnAdd").click(function () {
                AddRevisionInfo();
            });
            //编辑
            $("#btnEdit").click(function () {
                EditRevisionInfo();
            });
            //编辑ECN
            $("#btnEditECN").click(function () {
                EditECN();
            });

            $("#btnView").click(function () {
                ViewDetail(EWIMain.ID);
            });

            $("#btnViewCAD").click(function () {
                window.open($('#txtAutoCADFilePath').val());
            });

            $('#btnExport').click(function () {
                ExportReport('ExportReport', '@PartNum', EWIMain.ID, '1');
            });

            $('#txtCustomerEngApprovalDateModal').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-mm-dd",
                default: null
            });
            $('#txtSupplierApprovalDateModal').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-mm-dd",
                default: null
            });
            $('#txtCustomerQualityApprovalDateModal').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-mm-dd",
                default: null
            });
            $('#txtOtherApprovalDateModal').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-mm-dd",
                default: null
            });
            $('#txtOtherApprovalDate2Modal').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "yyyy-mm-dd",
                default: null
            });

            $("#btnModalSave").click(function () {
                SubmitRevisionInfo();
            });
            $('#btnModalECN').click(function () {
                SubmitECN();
            });

            //上传文件
            $('#btnUpload').click(function () {
                $('.needsclick').click();
            });

            //失效版本
            if ('@EWIMain.CurrentRevActive' == '1'
                && '@EWIMain.WIType' == 'Temp')
                $('#btnInActive').removeAttr("style");
            $('#btnInActive').click(function () {
                swal({
                    title: '@Resource.Txt_InvalidateVersionConfirm',
                    text: '',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '@Resource.Txt_Confirm',
                    cancelButtonText: '@Resource.Txt_Cancel',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (isConfirm) {
                    if (isConfirm.value === true) {
                        var param = {};
                        param.RevID = '@EWIMain.ID';

                        $.post("/EWI/InActiveRevision", param, function (getResponse) {
                            var Msg = getResponse.Msg;
                            if (Msg == "") {
                                swal('@Resource.Txt_InvalidSucceeded！', '', 'success')
                                    .then(function (isConfirm) {
                                        if (isConfirm) {
                                            $('#btnInActive').attr('style', 'display:none;');
                                        }
                                });
                            }
                            else {
                                swal('@Resource.Txt_ContractIT', Msg, 'error');
                            }
                        });

                    }
                });
            });

            InitialEWIMain();
            BindEWIMain();
            BindEWIECN();
        });
        function loadDataTable() {
            setUserColumnsDefWidths(pageTableId, columnDefs);

            table = $('#myTable').DataTable(
                {
                    language: {
                        "sProcessing": "@Resource.Txt_Processing...",
                        "sLengthMenu": "@Resource.Txt_DisplayResults",
                        "sZeroRecords": "@Resource.Txt_NoMatchedResults",
                        "sInfo": "@Resource.Txt_DisplayAreaResults",
                        "sInfoEmpty": "@Resource.Txt_DisplayAreaResults2",
                        "sInfoFiltered": "(@Resource.Txt_FilterResults)",
                        "sInfoPostFix": "",
                        "sSearch": "@Resource.Txt_Search:",
                        "sUrl": "",
                        "sEmptyTable": "@Resource.Txt_DataEmpty",
                        "sLoadingRecords": "@Resource.Txt_Loading...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "@Resource.Txt_First",
                            "sPrevious": "@Resource.Txt_Previous",
                            "sNext": "@Resource.Txt_Next",
                            "sLast": "@Resource.Txt_Last"
                        },
                        "oAria": {
                            "sSortAscending": ": @Resource.Txt_Ascending",
                            "sSortDescending": ": @Resource.Txt_Descending"
                        }
                    },
                    "processing": true,
                    "serverSide": true,
                    "searching": false,
                    "ordering": false,
                    "info": false,
                    "paging": false,
                    "lengthChange": false,
                    "ajax": {
                        "url": "/EWI/GetEWIRevisionList?PartNum=@PartNum&WIType=@WIType",
                        "type": "POST",
                        "error": function (e) {
                            var startTitle = e.responseText.indexOf('<title>') + 7;
                            var endTitle = e.responseText.indexOf('</title>');
                            swal(e.responseText.substring(startTitle, endTitle), '', 'error');
                        }
                    },
                    destroy: true,
                    scrollY: 400,
                    scrollX: true,
                    scrollCollapse: true,
                    scroller: true,
                    initComplete: function (settings) {
                        //Add JQueryUI resizable functionality to each th in the ScrollHead table
                        $('#myTable_wrapper .dataTables_scrollHead thead th').resizable({
                            handles: "e",
                            alsoResize: '#myTable_wrapper .dataTables_scrollHead table', //Not essential but makes the resizing smoother
                            stop: function () {
                                saveColumnSettings(pageTableId, table);
                                loadDataTable();
                            }
                        });
                    },
                    "autoWidth": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [10, 25, 50, 100],
                    "iDisplayLength": 50,
                    "columns": columnDefs
                }
            );
        }

        //select2
        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }
            var $container = $(
                "<div class='select2-result-repository__description'>" + repo.text + "</div>"
            );

            return $container;
        };
        function formatRepoSelection(repo) {
            return repo.text;
        }
        function CopyRev(CurRevID, SourceRevID) {
            $.ajax({
                type: "POST",
                url: "/EWI/CopyRevisionInfo",
                async: false,
                dataType: "json",
                data: {
                    PartNum: '@PartNum',
                    CurRevID: CurRevID,
                    SourceRevID: SourceRevID,
                    CurOPCode: '',
                    SourceOPCode: ''
                },
                success: function (getResponse) {
                    if (getResponse.MsgCode == "OK") {
                        swal(
                            '@Resource.Txt_CopyRevisonSucceeded！',
                            '',
                            'success'
                        ).then(function (isConfirm) {
                            if (isConfirm) {
                                location.reload(true);
                            }
                        });
                    }
                    else {
                        swal('@Resource.Txt_CopyRevisonFailed', getResponse.Msg, 'error');
                    }
                }
            });
        }

        let EWIMain = {}, EWIECN = {};
        function InitialEWIMain() {
            EWIMain.ID = '@EWIMain.ID';
            EWIMain.MainID = '@EWIMain.MainID';
            EWIMain.ControlPlanNum = '@EWIMain.ControlPlanNum';
            EWIMain.ProductStage = '@EWIMain.ProductStage';
            EWIMain.KeyContact = '@EWIMain.KeyContact';
            EWIMain.OriginDate = '@EWIMain.OriginDate';
            EWIMain.LatestDate = '@EWIMain.LatestDate';
            EWIMain.LatestRev = '@EWIMain.LatestRev';
            EWIMain.CurrentRev = '@EWIMain.CurrentRev';
            EWIMain.CurrentRevActive = '@EWIMain.CurrentRevActive';
            EWIMain.CustomerPartNum = '@EWIMain.CustomerPartNum';
            EWIMain.CustomerRev = '@EWIMain.CustomerRev';
            EWIMain.PartNum = '@EWIMain.PartNum';
            EWIMain.CoreTeam = '@EWIMain.CoreTeam';
            EWIMain.CustomerEngApprovalDate = '@EWIMain.CustomerEngApprovalDate';
            EWIMain.PartDesc = '@EWIMain.PartDesc';
            EWIMain.SupplierApprovalDate = '@EWIMain.SupplierApprovalDate';
            EWIMain.CustomerQualityApprovalDate = '@EWIMain.CustomerQualityApprovalDate';
            EWIMain.Supplier = '@EWIMain.Supplier';
            EWIMain.SupplierCode = '@EWIMain.SupplierCode';
            EWIMain.OtherApprovalDate = '@EWIMain.OtherApprovalDate';
            EWIMain.OtherApprovalDate2 = '@EWIMain.OtherApprovalDate2';
            EWIMain.ReviewBy = '@EWIMain.ReviewBy';
            EWIMain.PCN_ECN_NO = '@EWIMain.PCN_ECN_NO';
            EWIMain.Description = '@EWIMain.Description';
            EWIMain.RevisionAndAltMethod = '@EWIMain.RevisionAndAltMethod';
            EWIMain.ApprovalStatus = '@EWIMain.ApprovalStatus';
            EWIMain.JobNum = '@EWIMain.JobNum';
            EWIMain.NSType = '@EWIMain.NSType';
            EWIMain.WIType = '@EWIMain.WIType';

            EWIECN.ID = '@EWIECN.ID';
            EWIECN.RevisionID = '@EWIECN.RevisionID';
            EWIECN.ECNNo = '@EWIECN.ECNNo';
            EWIECN.ECRNo = '@EWIECN.ECRNo';
            EWIECN.Title = '@EWIECN.Title';
            EWIECN.ChangeReason = '@EWIECN.ChangeReason';
            EWIECN.ChangeFrom = '@EWIECN.ChangeFrom';
            EWIECN.ChangeTo = '@EWIECN.ChangeTo';
            EWIECN.Remark = '@EWIECN.Remark';
            EWIECN.RelateDept = '@EWIECN.RelateDept';
        }

        function BindEWIMain() {
            $("#txtModalId").val(EWIMain.ID);
            $("#txtModalMainId").val(EWIMain.MainID);
            if (EWIMain.ProductStage == 'Prototype') {
                $('#radioPrototype').prop('checked', 'true');
                $('#radioPrototypeModal').prop('checked', 'true');
            }
            else if (EWIMain.ProductStage == 'Pre-launch') {
                $('#radioPrelaunch').prop('checked', 'true');
                $('#radioPrelaunchModal').prop('checked', 'true');
            }
            else if (EWIMain.ProductStage == 'Production') {
                $('#radioProduction').prop('checked', 'true');
                $('#radioProductionModal').prop('checked', 'true');
            }

            if (EWIMain.NSType == 'EngTest') {
                $('#radioEngTest').prop('checked', 'true');
                $('#radioEngTestModal').prop('checked', 'true');
            }
            else if (EWIMain.NSType == 'TempDoc') {
                $('#radioTempDoc').prop('checked', 'true');
                $('#radioTempDocModal').prop('checked', 'true');
            }
            else if (EWIMain.NSType == 'NPI') {
                $('#radioNPI').prop('checked', 'true');
                $('#radioNPIModal').prop('checked', 'true');
            }

            $('#txtJobNumModal').val(EWIMain.JobNum);
            $('#txtLatestRevModal').val(EWIMain.CurrentRev);
            $('#txtCustomerRevModal').val(EWIMain.CustomerRev);
            $('#txtPCN_ECN_NOModal').val(EWIMain.PCN_ECN_NO);
            var RegN = new RegExp("&lt;br /&gt;", "g");
            $('#txtDescriptionModal').html(EWIMain.Description.replace(RegN, "\n"));
            $('#txtCustomerEngApprovalDateModal').prop('placeholder', EWIMain.CustomerEngApprovalDate);
            $("#txtCustomerEngApprovalDateModal").val(EWIMain.CustomerEngApprovalDate);
            $('#txtSupplierApprovalDateModal').prop('placeholder', EWIMain.SupplierApprovalDate);
            $("#txtSupplierApprovalDateModal").val(EWIMain.SupplierApprovalDate);
            $('#txtCustomerQualityApprovalDateModal').prop('placeholder', EWIMain.CustomerQualityApprovalDate);
            $("#txtCustomerQualityApprovalDateModal").val(EWIMain.CustomerQualityApprovalDate);
            $('#txtOtherApprovalDateModal').prop('placeholder', EWIMain.OtherApprovalDate);
            $("#txtOtherApprovalDateModal").val(EWIMain.OtherApprovalDate);
            $('#txtOtherApprovalDate2Modal').prop('placeholder', EWIMain.OtherApprovalDate2);
            $("#txtOtherApprovalDate2Modal").val(EWIMain.OtherApprovalDate2);
            $('#txtSupplierModal').val(EWIMain.Supplier);
            $('#txtSupplierCodeModal').val(EWIMain.SupplierCode);

            $('#txtJobNum').val(EWIMain.JobNum);
            $('#txtControlPlanNum').val(EWIMain.ControlPlanNum);
            $('#txtKeyContact').val(EWIMain.KeyContact);
            $('#txtOriginDate').val(EWIMain.OriginDate);
            $('#txtLatestDateRev').val(EWIMain.LatestDate + " / " + (EWIMain.LatestRev == "" ? "NA" : EWIMain.LatestRev));
            $('#txtCustomerPartNum').val(EWIMain.CustomerPartNum + " / REV:" + (EWIMain.CustomerRev == "" ? "NA" : EWIMain.CustomerRev));
            $('#txtCoreTeam').val(EWIMain.CoreTeam);
            $('#txtCustomerEngApprovalDate').val(EWIMain.CustomerEngApprovalDate);
            $('#txtPartDesc').val(EWIMain.PartDesc);
            $('#txtSupplierApprovalDate').val(EWIMain.SupplierApprovalDate);
            $('#txtCustomerQualityApprovalDate').val(EWIMain.CustomerQualityApprovalDate);
            $('#txtSupplier').val(EWIMain.Supplier);
            $('#txtSupplierCode').val(EWIMain.SupplierCode);
            $('#txtOtherApprovalDate').val(EWIMain.OtherApprovalDate);
            $('#txtOtherApprovalDate2').val(EWIMain.OtherApprovalDate2);
        }

        function BindEWIECN() {
            //是数字版本或者A版本
            var CurRev = EWIMain.LatestRev;
            var IRev = parseInt(CurRev);
            if (!isNaN(IRev) || CurRev == "A" || CurRev == "") {
                $('.ECNGroup').attr('style','display:none;');
                return;
            }

            $("#txtModalECNId").val(EWIECN.ID);
            $('#txtECNNo').val(EWIECN.ECNNo);
            $('#txtECRNo').val(EWIECN.ECRNo);
            $('#txtTitle').val(EWIECN.Title);
            $('#txtChangeReason').val(EWIECN.ChangeReason);
            $('#txtChangeFrom').val(EWIECN.ChangeFrom);
            $('#txtChangeTo').val(EWIECN.ChangeTo);
            $('#txtRemark').html(EWIECN.Remark.replace(RegN, "\n"));
            $('#txtRelateDept').val(EWIECN.RelateDept);

            $('#txtModalECNNo').val(EWIECN.ECNNo);
            $('#txtModalECRNo').val(EWIECN.ECRNo);
            $('#txtModalTitle').val(EWIECN.Title);
            $('#txtModalChangeReason').val(EWIECN.ChangeReason);
            $('#txtModalChangeFrom').val(EWIECN.ChangeFrom);
            $('#txtModalChangeTo').val(EWIECN.ChangeTo);
            var RegN = new RegExp("&lt;br /&gt;", "g");
            $('#txtModalRemark').html(EWIECN.Remark.replace(RegN, "\n"));
            tmpRelateDept = EWIECN.RelateDept;
            //初始化选择人员
            $('.txtModalRelateDept').find('li').each(function () {
                if (EWIECN.RelateDept.indexOf($(this).attr('data-val') + ';') >= 0) {
                    $(this).find('div').eq(0).removeClass('icheckbox_line-blue');
                    $(this).find('div').eq(0).addClass('icheckbox_line-red');
                    $(this).iCheck('check');
                }
                else {
                    $(this).find('div').eq(0).removeClass('icheckbox_line-red');
                    $(this).find('div').eq(0).addClass('icheckbox_line-blue');
                    $(this).iCheck('uncheck');
                }
            });

            if ('@CurRight.CheckRight' != '0') {
                $('.txtModalRelateDept').find('li').each(function () {
                    $(this).iCheck('disable');
                });
            }
        }

        function AddRevisionInfo() {
            $('#myModalLabel').text('@Resource.Txt_RevisionDetails');
            $('#btnModalSave').show();
            $('#frmEWIMain').attr("style", "");
            $('#txtAltMethodModal').removeAttr("readonly");

            if ($('#myTable').find('tbody').eq(0).find('tr').length == 0
                || ($('#myTable').find('tbody').eq(0).find('tr').length == 1
                && $('#myTable').find('tbody').eq(0).find('tr').eq(0).find('td').attr("class") == "dataTables_empty")
                )
                $('#txtLatestRevModal').removeAttr("readonly");
            else
                $('#txtLatestRevModal').attr("readonly", "readonly");

            $.ajax({
                type: "POST",
                url: "/EWI/GetEWINewRevision",
                async: false,
                dataType: "json",
                data: { PartNum: '@PartNum' },
                success: function (getResponse) {
                    if (getResponse.MsgCode == "OK") {
                        var NewRevision = getResponse.Data;
                        $('#txtLatestRevModal').val(NewRevision.LatestRev);
                        $('#txtCustomerRevModal').val(NewRevision.CustomerRev);
                    }
                }
            });

            if ('@CurRight.Menu' == 'EWI_NPI') {
                $('#radioPrototypeModal').prop('checked', 'true');
            }
            else if ('@CurRight.Menu' == 'EWI_FA') {
                $('#radioPrelaunchModal').prop('checked', 'true');
            }
            else if ('@CurRight.Menu' == 'EWI') {
                $('#radioProductionModal').prop('checked', 'true');
            }

            $("#txtModalId").val('0');
            $('#txtJobNumModal').val('');
            $('#txtPCN_ECN_NOModal').val('');
            $('#txtDescriptionModal').val('');
            $('#txtCustomerEngApprovalDateModal').prop('placeholder', '');
            $("#txtCustomerEngApprovalDateModal").val('');
            $('#txtSupplierApprovalDateModal').prop('placeholder', '');
            $("#txtSupplierApprovalDateModal").val('');
            $('#txtCustomerQualityApprovalDateModal').prop('placeholder', '');
            $("#txtCustomerQualityApprovalDateModal").val('');
            $('#txtOtherApprovalDateModal').prop('placeholder', '');
            $("#txtOtherApprovalDateModal").val('');
            $('#txtOtherApprovalDate2Modal').prop('placeholder', '');
            $("#txtOtherApprovalDate2Modal").val('');
            $('#txtSupplierModal').val('');
            $('#txtSupplierCodeModal').val('');
            $('#txtAltMethodModal').val('');

            $("#ModalEWIView").modal();
        }

        function EditRevisionInfo() {
            if (EWIMain.ID == '') {
                swal(
                    '@Resource.Txt_NoAnyRevision！',
                    '',
                    'error'
                );
                return;
            }

            BindEWIMain();
            //已审核，则禁止修改
            if (EWIMain.ApprovalStatus == '9') {
                $('#myModalLabel').text('@(Resource.Txt_RevisionDetails) -- @Resource.Txt_Approved');
                $('#btnModalSave').hide();
                $('#frmEWIMain').attr("style", "pointer-events:none;");
            }
            else {
                $('#myModalLabel').text('@(Resource.Txt_RevisionDetails)');
                $('#btnModalSave').show();
                $('#frmEWIMain').attr("style", "");
            }
            $('#txtLatestRevModal').attr("readonly", "readonly");
            $('#txtAltMethodModal').attr("readonly", "readonly");
            $("#txtModalId").val(EWIMain.ID);
            $('#txtAltMethodModal').val(EWIMain.RevisionAndAltMethod);
            $('#txtJobNumModal').val(EWIMain.JobNum);
            $("#ModalEWIView").modal();
        }

        function EditECN() {
            if (EWIECN.ID == '') {
                swal(
                    '当前没有工程变更通知！',
                    '',
                    'error'
                );
                return;
            }

            BindEWIECN();
            //已审核，则禁止修改
            if (EWIMain.ApprovalStatus == '9') {
                $('#myModalECNLabel').text('@Resource.Txt_EngineerChangeNotification -- @Resource.Txt_Approved');
                $('#btnModalECN').hide();
                $('#frmEWIECN').attr("style", "pointer-events:none;");
            }
            else {
                $('#myModalECNLabel').text('@Resource.Txt_EngineerChangeNotification');
                $('#btnModalECN').show();
                $('#frmEWIECN').attr("style", "");
            }
            $("#ModalECNView").modal();
        }
        //切换选择状态时变换颜色,并记录所选人员
        function ToogleCheckClass(iCheck) {
            if ($(iCheck).hasClass('icheckbox_line-blue')) {
                $(iCheck).removeClass('icheckbox_line-blue');
                $(iCheck).addClass('icheckbox_line-red');
                tmpRelateDept += $(iCheck).parent().attr('data-val') + ';';
            }
            else {
                $(iCheck).removeClass('icheckbox_line-red');
                $(iCheck).addClass('icheckbox_line-blue');
                //批量替换，防止重复
                var RegRd = new RegExp($(iCheck).parent().attr('data-val') + ';', "g");
                tmpRelateDept = tmpRelateDept.replace(RegRd, "");
            }
        }

        //[新增或编辑]时保存
        function SubmitRevisionInfo() {
            EWIMain.ID = $("#txtModalId").val();
            EWIMain.MainID = $("#txtModalMainId").val();
            if ($('#radioPrototypeModal').prop('checked') == true)
                EWIMain.ProductStage = "Prototype";
            else if ($('#radioPrelaunchModal').prop('checked') == true)
                EWIMain.ProductStage = "Pre-launch";
            else if ($('#radioProductionModal').prop('checked') == true)
                EWIMain.ProductStage = "Production";

            if ('@EWIMain.WIType' == 'FA') {
                EWIMain.NSType = "FA";
            }
            else {
                if ($('#radioEngTestModal').prop('checked') == true)
                    EWIMain.NSType = "EngTest";
                else if ($('#radioTempDocModal').prop('checked') == true)
                    EWIMain.NSType = "TempDoc";
                else if ($('#radioNPIModal').prop('checked') == true)
                    EWIMain.NSType = "NPI";
            }

            EWIMain.LatestRev = $('#txtLatestRevModal').val();
            EWIMain.CustomerRev = $('#txtCustomerRevModal').val();
            EWIMain.PCN_ECN_NO = $('#txtPCN_ECN_NOModal').val();
            var RegN = new RegExp("\n", "g");
            var RegT = new RegExp("\t", "g");
            EWIMain.Description = $('#txtDescriptionModal').val().replace(RegN, "<br />").replace(RegT, "");
            EWIMain.CustomerEngApprovalDate = $('#txtCustomerEngApprovalDateModal').val();
            EWIMain.SupplierApprovalDate = $('#txtSupplierApprovalDateModal').val();
            EWIMain.CustomerQualityApprovalDate = $('#txtCustomerQualityApprovalDateModal').val();
            EWIMain.OtherApprovalDate = $('#txtOtherApprovalDateModal').val();
            EWIMain.OtherApprovalDate2 = $('#txtOtherApprovalDate2Modal').val();
            EWIMain.Supplier = $('#txtSupplierModal').val();
            EWIMain.SupplierCode = $('#txtSupplierCodeModal').val();
            EWIMain.RevisionAndAltMethod = $('#txtAltMethodModal').val();
            EWIMain.JobNum = $('#txtJobNumModal').val();

            if (EWIMain.LatestRev == "" || EWIMain.LatestRev.length > 50) {
                showAlert("@Resource.Txt_RevisionNoEmpty！");
                return;
            }

            var CurRev = $('#txtLatestRevModal').val();
            $.ajax({
                type: "POST",
                url: "/EWI/UpdateEWIRevisionInfo",
                async: false,
                dataType: "json",
                data:
                {
                    EWIMain: EWIMain,
                    AltMethod: $('#txtAltMethodModal').val()
                },
                success: function (getResponse) {
                    if (getResponse.MsgCode == "OK") {
                        var oriID = EWIMain.ID;
                        var getData = getResponse.Data;
                        EWIMain.ID = getData.ID;
                        EWIMain.LatestDate = getData.LatestDate;
                        EWIMain.ApprovalStatus = getData.ApprovalStatus;
                        BindEWIMain();

                        $("#ModalEWIView").modal("hide");
                        //$('#myTable').DataTable().draw();

                        var IRev = parseInt(CurRev);
                        var EcnInfo = "";
                        if (isNaN(IRev) && CurRev != "A") {
                            EcnInfo = "@Resource.Txt_ImproveECN！";
                        }
                        if (oriID == "0") {
                            swal({
                                title: "@Resource.Txt_AddRevisionSucceeded！",
                                text: EcnInfo,
                                type: "success",
                                confirmButtonColor: "#3085d6",
                                confirmButtonText: "@Resource.Txt_Confirm"
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    //字母A版就跳转 (!isNaN(IRev) && arrQM.indexOf('@CurRight.Menu') < 0) ||
                                    if (CurRev == "A") {
                                        window.location = "@(urlPrefix)EWI/EWIDetailView?RevID=" + EWIMain.ID;
                                    }
                                    else {
                                        location.reload(true);
                                    }
                                }
                            });
                        }
                        else {
                            swal(
                                '@Resource.Txt_ModifyRevisionSucceeded！',
                                '',
                                'success'
                            ).then(function () {
                                location.reload(true);
                            });
                        }
                    }
                    else {
                        EWIMain.ID = '@EWIMain.ID';
                        EWIMain.LatestRev = '@EWIMain.LatestRev';
                        swal(getResponse.Msg, '@Resource.Txt_ContractIT', 'error');
                    }
                },
                error: function (e) {
                    var startTitle = e.responseText.indexOf('<title>') + 7;
                    var endTitle = e.responseText.indexOf('</title>');
                    swal(e.responseText.substring(startTitle, endTitle), '', 'error');
                }
            });
        }

        //编辑时保存
        function SubmitECN() {
            EWIECN.ECNNo = $('#txtModalECNNo').val();
            EWIECN.ECRNo = $('#txtModalECRNo').val();
            EWIECN.Title = $('#txtModalTitle').val();
            EWIECN.ChangeReason = $('#txtModalChangeReason').val();
            EWIECN.ChangeFrom = $('#txtModalChangeFrom').val();
            EWIECN.ChangeTo = $('#txtModalChangeTo').val();
            var RegN = new RegExp("\n", "g");
            var RegT = new RegExp("\t", "g");
            EWIECN.Remark = $('#txtModalRemark').val().replace(RegN, "<br />").replace(RegT, "");
            EWIECN.RelateDept = tmpRelateDept;

            if (EWIECN.Title == "") {
                showAlert("@Resource.Txt_TitleNoEmpty！");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/EWI/UpdateEWIECN",
                async: false,
                dataType: "json",
                data:
                {
                    EWIECN: EWIECN
                },
                success: function (getResponse) {
                    if (getResponse.MsgCode == "OK") {
                        $("#ModalECNView").modal("hide");
                        swal('@Resource.Txt_ModifyECNSucceeded！', '', 'success')
                            .then(function (isConfirm) {
                                location.reload(true);
                            });
                    }
                    else {
                        swal('@Resource.Txt_ContractIT', getResponse.Msg, 'error');
                    }
                },
                error: function (e) {
                    var startTitle = e.responseText.indexOf('<title>') + 7;
                    var endTitle = e.responseText.indexOf('</title>');
                    swal(e.responseText.substring(startTitle, endTitle), '', 'error');
                }
            });
        }

        function ViewDetail(RevID) {
            //var CurRev = EWIMain.LatestRev;
            //var IRev = parseInt(CurRev);
            //if (!isNaN(IRev) || CurRev == "A" || $('#txtRelateDept').val() != "")
                window.location = "@(urlPrefix)EWI/EWIDetailView?RevID=" + RevID;
            //else {
            //    swal('ECN相关部门审批人员不能为空！', '', 'error');
            //}
        }

        function ToogleRev(RevID) {
            window.location = "@(urlPrefix)EWI/EWIMainView?PartNum=@PartNum&RevID=" + RevID;
        }
    </script>
}
